:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

body {
    background-color: var(--cor-4);
}

.container-alinhamento {
    width: 82%;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Primeiro container - Titulos */

.titulos {
    display: flex;
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
}

.titulos img {
    width: 35%;
}

.titulos img:hover {
    width: 37%;
    transition: 0.5s;
}

.titulos h1 {
    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.publicado {
    color: var(--cor-2);
    opacity: 75%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: -3%;
}

.introducao {
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    width: 750px;
    font-size: 22px;
    margin-top: 5%;
}

/* Primeiro container - Titulos */

/* Configurações containers de texto */
.alinhamento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Configurações containers de texto */

/* Segundo container - Texto */
.container-um {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-um h2 {
    color: var(--cor-2);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

.container-um p {
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.container-um ul {
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    height: fit-content;

}

.container-um img {
    margin-left: 5%;
    width: 450px;
    padding: 20px;
}

.container-um img:hover {
    width: 460px;
    transition: 0.5s;
}

.alinhamento-um p {
    margin-top: 50px; 
}

/* Segundo container - Texto */

/* Terceiro container - Texto */
.container-dois {
    padding-bottom: 20px;
}

.container-dois h2 {
    color: var(--cor-2);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

.container-dois p {
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.container-dois ul {
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    height: fit-content;
}

.container-dois img {
    width: 450px;
    padding: 20px;
}

.container-dois img:hover {
    width: 460px;
    transition: 0.5s;
}

.alinhamento-dois p {
    margin-top: 50px;
}
/* Terceiro container - Texto */

/* Quarto container - texto */
.container-tres h2{
    color: var(--cor-2);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

.container-tres p{
    color: var(--cor-6);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.container-tres strong{
    color: var(--cor-2);
}

.container-tres-textoUm{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alinhamento-alternativo{
    display: flex;
}

.container-tres img{
    margin-left: 60px;
    width: 450px;
}

.container-tres img:hover{
    width: 460px;
    transition: 0.5s;
}

.alinhamento-alternativo p{
    width: 650px;
}

.alinhamentoTres-p{
    margin-top: 65px;
}

.containerTres-Pultimo{
    width: 90%;
    padding-top: 20px;
}
/* Quarto container - texto */