:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.titulo-admin {
    display: flex;
    justify-content: space-between;
    width: 80.5%;

    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
}

.titulo-admin h1 {
    font-size: 35px;
}

.line-admin {
    width: 10%;
    width: 25%;
    height: 6px;
    border-radius: 7px;
    background-color: var(--cor-3);
    margin-top: -18px;
}

.line-admin:hover {
    transition: 0.4s;
    width: 40%;
}

.line-admin:not(:hover) {
    width: 25%;
    transition: 0.4s;
}

/* .button-container{
    margin-top: -100px;
    margin-bottom: 60px;
} */

.button-deletar {
    width: 200px;
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-left: 75%;
    margin-top: -50%;
}

.alinhamentoTudo-gerenciarPostagens {
    margin-top: -9.6vw;
}

/* POP UP BLOG DE ADMIN */

.Container-PopUpBlog {
    top: 20vw;
    left: 35vw;
    position: absolute;
    background-color: #f1f1f1;
    height: 10vw;
    position: fixed;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3);
    border-radius: 2vw;
    border: 1px solid red;
}

.FontePopUpBlog {
    color: #1D2A62;
    font-size: 1.6vw;
    margin: 1.2vw;
}

.ButtonsPopUpBlog {
    display: flex;
    justify-content: space-around;
}

.buttonNaoDeletar {
    height: 2.7vw;
    width: 12vw;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    background-color: #1D2A62;
    color: #F1F1F1;
    border: none;
}

.buttonDeletar {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    height: 2.7vw;
    width: 12vw;
    border: none;
    border-radius: 15px;
    background-color: #437118;
    color: #F5F5F5;
}

.ButtonsPopUpBlog button:hover {
    transition: 0.2s;
    background-color: #345516;
    color: #F5F5F5;
}