:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.titulo-admin{
    display: flex;
    justify-content: space-between;
    width: 80.5%;

    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
}

.titulo-admin h1{
    font-size: 35px;
}

.line-admin{
    width: 10%;
    width: 25%;
    height: 6px;
    border-radius: 7px;
    background-color: var(--cor-3);
    margin-top: -18px;
}

.line-admin:hover{
    transition: 0.4s;
    width: 40%;
}

.line-admin:not(:hover){
    width: 25%;
    transition: 0.4s;
}

/* .button-container{
    margin-top: -100px;
    margin-bottom: 60px;
} */

.button-deletar{
    width: 200px;
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-left: 75%;
    margin-top: -50%;
}