:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.alinhamentoTudo-gerenciarPostagens {
    margin-top: -10.5vw;
    /* border:1px solid black;  */
    
    
}
/* GERENCIAR POSTAGENS TITULO */
.titulo-admin {
    display: flex;
    justify-content: space-between;
    width: 83vw;
    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: 5vw;
    margin-left: 8vw;
    /* border:1px solid rgb(10, 151, 41);  */
}

.artigos-alinhamento{
    /* border:1px solid rgb(78, 80, 209);  */
    margin-top: 7vw; 
    width: 75vw;
    margin-left: 10vw; 
    display: flex;
    flex-direction: column;

}
/* DENTRO DO BLOG */
.container-artigos{
     box-shadow: -1vw -1vw 2vw rgba(255,255,255,0.45), 0.4vw 0.4vw 0.9vw rgba(94,104,121,0.3);
    margin-bottom: 10vw;
    border-radius: 2vw;
    /* border:1px solid black;  */
    height: 20vw;
}
.Img-ReviwBlogADM{
    width: 20vw;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2VW;
    /* border:1px solid black;  */
}
.Descricao-ReviwBlogADM{
    /* border:1px solid rgb(167, 32, 32);  */
    width: 50vw;
    margin-left: 24vw;
    margin-top: -15VW;
    
}

/* .titulos-artigos{
     /* border:1px solid rgb(155, 24, 24);   */

.doutores-blog{
    /* border:1px solid black;  */
    width: 38vw;
    color: #809c44;
}

.button-deletar {
    width: 10vw;
    background-color: transparent;
    border: none;
    /* border:1px solid black;  */
    margin-left: 40VW;
    margin-top: -10VW;
}
/* 
NAO SEI */
.titulo-admin h1 {
    font-size: 35px;
}

.line-admin {
    width: 10vw;
    height: 0.6vw;
    border-radius: 0.5vw;
    background-color: var(--cor-3);
    margin-top: -1vw;
    
}

.line-admin:hover {
    transition: 0.4s;
    width: 20vw;
}

.line-admin:not(:hover) {
    width: 10vw;
    transition: 0.4s;
}

/* POP UP BLOG DE ADMIN */
.Container-PopUpBlog {
    top: 20vw;
    left: 35vw;
    position: absolute;
    background-color: #f1f1f1;
    height: 10vw;
    position: fixed;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3);
    border-radius: 2vw;
}

.FontePopUpBlog {
    color: #1D2A62;
    font-size: 1.6vw;
    margin: 1.2vw;
}

.ButtonsPopUpBlog {
    display: flex;
    justify-content: space-around;
}

.buttonNaoDeletar {
    height: 2.7vw;
    width: 12vw;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    background-color: #1D2A62;
    color: #F1F1F1;
    border: none;
}

.buttonNaoDeletar:hover{
    background-color: #323D70;
    transition: 0.4s;
}

.buttonNaoDeletar:not(:hover){
    background-color: var(--cor-6);
    transition: 0.4s;
}

.buttonDeletar {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    height: 2.7vw;
    width: 12vw;
    border: none;
    border-radius: 15px;
    background-color: #437118;
    color: #F5F5F5;

}

.buttonDeletar:hover {
    transition: 0.4s;
    background-color: #345516;
    color: #F5F5F5;
}

.buttonDeletar:not(:hover){
    transition: 0.4s;
    background-color: var(--cor-2);
   
}

.p-semPostagens{
    width: fit-content;
    margin-left: -2vw;
    margin-top: -3vw;
}
