:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.blog-alinhamento{
    margin-top: 5vw;
    /* border:1px solid black; */
}
.alinhamentoPostagens{
    /* border:1px solid black; */
}
.artigos-blog{
    /* border:1px solid black; */
}
.titulo-blog{
    /* border:1px solid black; */
    width: 45vw;
    margin-left: 10vw;
    margin-top: 5vw;
}
.LinhaBlog {
    width: 15vw;
    height: 0.6vw;
    border-radius: 0.5vw;
    background-color:#AFD06E;
    margin-top: -1vw;
    
}

.LinhaBlog:hover {
    transition: 0.4s;
    width: 40vw;
}

.LinhaBlog:not(:hover) {
    width: 25vw;
    transition: 0.4s;
}
a{
    text-decoration: none;
}