:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;

    --cor_dezoito: #7ab60c;
    --cor_dezenove: #5b8808;


    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}

.Titulo-Convenio-Container {
    margin-left: 9vw;
    margin-top: 9vw;

}

.TituloConvenio {
    font-size: 2.5vw;
}

.TituloConvenios-disponiveis{
    font-size: 2.5vw;
    margin-left: 9vw;
    margin-top: 4vw;
}

.Paragrafo-Um {
    width: 50%;
    margin-left: 8vw;
    margin-top: 8.8vw;
}

.fundo-verde-convenios{
    background-color: #CCE0A7;
    width: 30vw;
    height: 23vw;
margin-left: 69vw;
border-radius: 2vw;
margin-top: -20vw;
    
}

.imagemUMconvenios{

    width: 26vw;
    margin-top: -2.2vw;
    margin-left: -3vw;
}

.linha-convenios-um{
    background-color: var(--cor_dois);
    width: 14vw;
    height: 0.6vw;
    border-radius: 7vw;
    margin-top: -1.1vw;
    margin-left: -1vw;
}

.linha-convenios-dois{
    background-color: var(--cor_dois);
    width: 14vw;
    height: 0.6vw;
    border-radius: 7vw;
    margin-top: -1.1vw;
    margin-left: 8vw;
}
.TituloConvenio{
    margin-top: -3vw;
}
.imagemAna-Paula{
    /* border: 1px solid red; */
    margin-top: 7vw;
    margin-left: 12vw;
}
.especialidade-convenios{
    margin-top: -2vw;
}
.Titulo-Azul{
    color: #1D2A62;
}
.Segunda-Frase-email{
    margin-top: -1vw;

}
.Segunda-Frase-site{
    margin-top: -1vw;
}
.Container-Convenio-Completo-Segundo{
    margin-left: 6vw;
    width: 44%;
}
.imagemCinco{
 height: 30vw;
margin-left: 5vw;
    margin-top: 7vw;
}

.Titulo-Azul-dois{
    color: #1D2A62;
    margin-top: 6vw;
}
.alinhando-imagem-convenios{
    display: flex;
}

.Titulo-Azul-tres{
    color: #1D2A62;
    margin-top: 6vw;
}

.servicos-convenios{
    margin-top: -2vw;
}
.imagemSeis{
    height: 30vw;
    margin-left: 5vw;
        margin-top: 7vw;
}


.alinhar-imagem-dois-convenios{
    display: flex;
}







.Container-Convenio-Completo{
    /* border: 1px solid black; */

    margin-top: 0px;
}








.Convenio-Disponivel-Container{
    margin-left: 55%;
    width: 35%;
    margin-top: -30vw;
}



.Convenio-Disponivel-Container-Segundo{
    margin-left: 10%;
    width: 35%;

    
}

.Convenio-Disponivel-Container-Terceiro{

  margin-left: 15vw ;
  width: 40vw;

}