:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

/* TITULO */
.alinhamento-titulo-dadosPessoaisAdmin {
    width: fit-content;
    margin-left: 9vw;
    margin-top: 5vw;
}

.line-dadosPessoaisAdmin {
    width: 7vw;
    height: 0.6vw;
    background-color: var(--cor-3);
    border-radius: 2vw;
    margin-top: -1.5vw;
}

.line-dadosPessoaisAdmin:hover {
    width: 15vw;
    transition: 0.4s;
}

.line-dadosPessoaisAdmin:not(:hover) {
    width: 7vw;
    transition: 0.4s;
}

.alinhamento-titulo-hamburger-dadosPessoaisAdmin{
    display: flex;
    justify-content: space-between;
}

.hamburger-alinhamento-dadosPessoaisAdmin{
    height: fit-content;
    margin-right: 2.5vw;
    margin-top: 3vw;
}
/* TITULO */

/* INPUTS */
.alinhamento-inputs-dadosPessoaisAdmin{
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 9vw;
    margin-top: 3.5vw;
}

.alinhamento-inputs-dadosPessoaisAdmin label{
    width: fit-content;
    font-family: 'Nunito', sans-serif;
    color: var(--cor-2);
    font-weight: 600;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.alinhamento-inputs-dadosPessoaisAdmin input{
    border: 1px solid var(--cor-6);
    background-color: var(--cor-4);
    height: 2vw;
    border-radius: 0.4vw;
    margin-bottom: 1vw;
    color: var(--cor-6);
    font-size: 1vw;
}

.alinhamento-inputs-dadosPessoaisAdmin button{
    border: none;
    background-color: var(--cor-2);
    color: var(--cor-4);
    font-size: 1.1vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    width: 12vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin-top: 1.5vw
}

.alinhamento-inputs-dadosPessoaisAdmin button:hover{
    background-color: #375E14;
    transition: 0.2s;
    cursor: pointer;
}

.alinhamento-inputs-dadosPessoaisAdmin button:not(:hover){
    background-color: var(--cor-2);
    transition: 0.2s;
}
/* INPUTS */