:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;

    --cor-hover: #D9E3EB;
}

.titulo-espacoControle{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1vw;
}

.titulo-espacoControle h2{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vw;
    color: var(--cor-6);

}

.titulo-espacoControle h3{
    color: #5C658D;
    font-family: 'Nunito', sans-serif;
    margin-top: -2vw;
    font-size: 1.5vw;
}

.container-um-espacoControle{
    margin-top: -1vw;
    margin-bottom: 2vw;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.container-dois-espacoControle{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.alinhamento-containers-espacoControle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.style-container-espacoControle{
    width: 35vw;
    height: 17vw;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3);
    border-radius: 1vw;
}

.style-container-espacoControle:hover{
    background-color: var(--cor-hover);
    transition: 0.4s;
}

.style-container-espacoControle:not(:hover){
    background-color: var(--cor-4);
    transition: 0.4s;
}

.alinhamento-conteudo-espacoControle{
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3vw;;
}

.style-container-espacoControle h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: var(--cor-6);
    font-size: 1.6vw;
    margin-top: 2vw;
}

.link{
    text-decoration: none;
}

.img-espacoControle{
    width: 7.8vw;
}