:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;

    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

body{

    margin: 0px;

    background-color: var(--cor_tres); 
}

.carrossel_container{

    display: flex;

    justify-content: space-between;

    height: 90vh;

}

/* Container Conteudo do Carrossel */

.carrossel_container_conteudo{

    display: flex;
    align-items: center;    

    width: 900px;
    height: 500px;

    margin-left: 8%;
    margin-top: 4%;
}

/* Container Carrossel Alinhamento de Conteudo */

.carrossel_container_alinhamento_de_conteudo{

    display: flex;
    flex-direction: column;
}

/* Container Conteudo H2 */

.carrossel_container_conteudo h2{

    width: 600px;

    margin-bottom: 0%;

    font-family: var(--tipografia_primaria);
    font-size: 45px;
    font-weight: bold;

    color: var(--cor_cinco);
}

/* Container Carrossel Faixa Verde */

.carrossel_container_conteudo_faixa_verde{

    width: 55px;
    height: 5px;

    border: 1px solid var(--cor_dois);
    border-radius: 25px;

    background-color: var(--cor_dois);
}

/* Container Carrossel parágrafo */

.carrossel_container_conteudo p{

    width: 500px;

    margin-top: 6%;
    margin-bottom: 0%;

    font-family: var(--tipografia_secundaria);
    font-size: 20px;
    font-weight: lighter;

    color: var(--cor_dez);
}

/* Container Carrossel Alinhamento da Div de Botões */

.carrossel_container_alinhamento_botoes{

    display: flex;

    margin-top: 9%;
}

/* Container Carrossel Botão de Cadastrar */

.carrossel_conteudo_cadastrar{

    width: 200px;
    height: 45px;

    margin-right: 1%;

    cursor: pointer;

    border: 1px solid var(--cor_um);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

.carrossel_conteudo_cadastrar:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_sete);

    background-color: var(--cor_sete);
}

/* Container Carrossel Botão de Entrar */

.carrossel_conteudo_entrar{

    width: 180px;
    height: 45px;

    cursor: pointer;

    border: 1px solid var(--cor_dois);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_dois);
}

.carrossel_conteudo_entrar:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_nove);

    background-color: var(--cor_nove);
}

/* Container Carrossel Imagem */

.carrossel_container_imagem{

    display: flex;
    align-items: center;

    width: 500px;
    height: 500px;

    margin-right: 15%;
    margin-top: 4%;
}

.carrossel_container_imagem img{

    width: 500px;
    height: 500px;

}

.carrossel_container_imagem img:hover{

    transition: 0.5s;

    width: 540px;
    height: 540px;
}

.alinhamento_popup_na_home{

}

.cta_comunidade_container{

    height: 300px;

    background-color: var(--cor_oito);
}

/* Container FAQ */

.container_faq{


    height: 800px;

    background-color: var(--cor_tres);
}

/* Tem dúvidas? */

.container_faq h2{

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 30px;

    margin-bottom: 0px;

    color: var(--cor_cinco);
}

.faixa_verde_titulo_faq{

    width: 40px;
    height: 8px;

    border-radius: 5px;

    background-color: var(--cor_dois);
}

.faixa_verde_titulo_faq:hover{

    transition: 0.5s;

    width: 100px;
}

/* Coluna de divs */

.container_faq_coluna_de_divs{

    padding-left: 100px;
}

/* Alinhamento do titulo FAQ */

.faq_titulo_alinhamento{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_faq_coluna_de_divs h3{

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 20px;

    color: var(--cor_cinco);
}

.faq_aberto{

    width: 25px;
    height: 25px;
}

.faq_fechado{

    width: 25px;
    height: 25px;
}

.alinhamento_de_colunas_faq{

    display: flex;
    justify-content: space-between;
}

/* Botão FAQ A */

.faq_a_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq A */

.faq_a{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: -6px -6px 10px rgba(255,255,255,0.45), 6px 6px 10px rgba(94,104,121,0.3);

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq A */

.faq_a_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ A*/

.faq_a_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* Botão FAQ B */

.faq_b_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq B */

.faq_b{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq B */

.faq_b_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ B*/

.faq_b_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* FAQ C Botão */

.faq_c_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq C */

.faq_c{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq C */

.faq_c_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ C*/

.faq_c_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* FAQ D Botão */

.faq_d_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq D */

.faq_d{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq D */

.faq_d_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ D*/

.faq_d_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* Container CTA FAQ */

.container_faq_cta{

    margin-right: 150px;
}

.container_faq_cta img{

    width: 300px;
    height: 300px;

}