:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;

    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

body{
    margin: 0px;

    background-color: var(--cor_tres); 
}

.carrossel_container{

    display: flex;

    justify-content: space-between;

    height: 90vh;
}

/* Container Conteudo do Carrossel */

.carrossel_container_conteudo{

    display: flex;
    align-items: center;    

    width: 900px;
    height: 500px;

    margin-left: 10%;
    margin-top: 4%;
}

/* Container Carrossel Alinhamento de Conteudo */

.carrossel_container_alinhamento_de_conteudo{

    display: flex;
    flex-direction: column;
}

/* Container Conteudo H2 */

.carrossel_container_conteudo h2{

    width: 600px;

    margin-bottom: 0%;
    margin-top: -10px;

    font-family: var(--tipografia_primaria);
    font-size: 45px;
    font-weight: bold;

    color: var(--cor_cinco);
}

.carrossel_container_conteudo h2:hover + .carrossel_container_conteudo_faixa_verde{

    transition: 0.3s;

    width: 140px;
}

.carrossel_container_conteudo h2:not(:hover) + .carrossel_container_conteudo_faixa_verde{

    transition: 0.3s;

    width: 55px;
}

/* Container Carrossel Faixa Verde */

.carrossel_container_conteudo_faixa_verde{

    width: 55px;
    height: 5px;

    border: 1px solid var(--cor_dois);
    border-radius: 25px;

    background-color: var(--cor_dois);
}

/* Container Carrossel parágrafo */

.carrossel_container_conteudo p{

    width: 500px;

    margin-top: 6%;
    margin-bottom: 0%;

    font-family: var(--tipografia_secundaria);
    font-size: 20px;
    font-weight: 400;

    color: var(--cor_dez);
}

/* Container Carrossel Alinhamento da Div de Botões */

.carrossel_container_alinhamento_botoes{

    display: flex;

    margin-top: 9%;
    justify-content: space-between;
    width: 400px;

}

/* Container Carrossel Botão de Cadastrar */

.carrossel_conteudo_cadastrar{

    width: 200px;
    height: 45px;

    margin-right: 1%;

    cursor: pointer;

    border: 1px solid var(--cor_um);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

.carrossel_conteudo_cadastrar:hover{

    transition: 0.3s;

    border: 1px solid var(--cor_sete);

    background-color: var(--cor_sete);
}

.carrossel_conteudo_cadastrar:not(:hover){

    transition: 0.3s;

    border: 1px solid var(--cor_um);

    background-color: var(--cor_um);
}

/* Container Carrossel Botão de Entrar */

.carrossel_conteudo_entrar{

    width: 180px;
    height: 45px;

    cursor: pointer;

    border: 1px solid var(--cor_dois);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_dois);
}

.carrossel_conteudo_entrar:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_nove);

    background-color: var(--cor_nove);
}

.carrossel_conteudo_entrar:not(:hover){

    transition: 0.2s;

    border: 1px solid var(--cor_dois);

    background-color: var(--cor_dois);
}

/* Container Carrossel Imagem */

.carrossel_container_imagem{

    display: flex;
    align-items: center;

    width: 500px;
    height: 500px;

    margin-right: 15%;
    margin-top: 4%;
}

.carrossel_container_imagem img{

    width: 500px;
    height: 500px;

}

.carrossel_container_imagem img:hover{

    transition: 0.4s;

    width: 580px;
    height: 580px;
}

.carrossel_container_imagem img:not(:hover){

    transition: 0.4s;

    width: 500px;
    height: 500px;
}   

.cta_comunidade_container{
    height: 690px;

    background: linear-gradient(to bottom, rgba(135, 174, 206, 0) 0%, rgba(135, 174, 206, 0.4) 50%, rgba(135, 174, 206, 0) 100%);
}

/* Container Comunidade */

.container_comunidade{
    display: flex;
    align-items: center;
}

/* Container Comunidade Imagem */

.container_comunidade_imagem{
    height: 300px;
    width: 500px;

    margin-left: 10%;
    margin-top: 8px;
}

.container_comunidade_imagem img{

    height: 300px;
    width: 500px;
}

.container_comunidade_imagem img:hover{

    transition: 0.5s;

    height: 350px;
    width: 550px;
}

.container_comunidade_imagem img:not(:hover){

    transition: 0.5s;

    height: 300px;
    width: 500px;
}

.container_comunidade_conteudo{
    margin-top: 5%;
}

.o_que_dizem_nossos_pacientes{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.o_que_dizem_nossos_pacientes_carrossel{

    display: flex;
    justify-content: center;
}

.o_que_dizem_nossos_pacientes h2{
    margin-bottom: 2px;
    margin-top: 0%;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 35px;

    color: var(--cor_cinco);
}

.o_que_dizem_nossos_pacientes_underline{

    width: 70px;
    height: 6px;

    margin-bottom: 25px;

    border-radius: 5px;

    background-color: var(--cor_dois);
}

.o_que_dizem_nossos_pacientes h2:hover + .o_que_dizem_nossos_pacientes_underline{

    transition: 0.5s;

    width: 450px;
}

.o_que_dizem_nossos_pacientes h2:not(:hover) + .o_que_dizem_nossos_pacientes_underline{

    transition: 0.5s;

    width: 70px;
}


/* Botão do Carrossel */

.o_que_dizem_nossos_pacientes_carrossel button{
    border: 0px;

    padding-left: 0%;

    cursor: pointer;

    background-color: transparent;
}

/* Botão do Carrossel */

.o_que_dizem_nossos_pacientes_carrossel img{
    width: 45px;
    height: 45px;
}

/* Conteúdo Carrossel */


.o_que_dizem_nossos_pacientes_carrossel{

    margin-top: 20px;

    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;

    border-radius: 25px;

    background-color: var(--cor_tres);
}

.o_que_dizem_nossos_pacientes_conteudo_do_carrossel{

    width: 510px;

    font-family: var(--tipografia_secundaria);
    font-weight: 400;
    font-size: 16px;

    color: var(--cor_dez);
}

/* Div de Conteúdo */

.container_comunidade_conteudo{

    margin-left: 80px;
}

/* Container Comunidade Titulo */

.container_comunidade_conteudo h3{
    
    margin-bottom: 0%;


    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 29px;

    color: var(--cor_cinco);
}

.container_comunidade_conteudo h3:hover + .container_comunidade_conteudo_underline_titulo{

    transition: 0.4s;

    width: 120px;
}

.container_comunidade_conteudo h3:not(:hover) + .container_comunidade_conteudo_underline_titulo{

    transition: 0.4s;

    width: 40px;
}

/* Container Comunidade h3 underline */

.container_comunidade_conteudo_underline_titulo{

    width: 40px;
    height: 6px;

    border-radius: 5px;

    background-color: var(--cor_dois);
}

/* Container Comunidade Parágrafo  */

.container_comunidade_conteudo p{

    width: 500px;

    margin-top: 40px;
    margin-bottom: 40px;

    font-family: var(--tipografia_secundaria);
    font-weight: 400;
    font-size: 20px;

    color: var(--cor_dez);
}

/* Botão Comunidade Container */

.container_comunidade_conteudo button{

    width: 150px;
    height: 40px;

    border: 1px solid var(--cor_um);
    border-radius: 10px;

    cursor: pointer;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 13px;

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

.container_comunidade_conteudo button:hover{

    transition: 0.3s;

    border: 1px solid var(--cor_sete);

    color: var(--cor_tres);
    background-color: var(--cor_sete);
}

.container_comunidade_conteudo button:not(:hover){

    transition: 0.3s;

    border: 1px solid var(--cor_um);

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

/* Container Artigos Recentes */

.container_artigos_recentes{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -7%;
    margin-bottom: 10%;
}

.container_artigos_recentes_alinhamento_titulo{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

/* Tirar o sublinhado do Pop up um*/

.pop_up_artigo_um{

    width: 620px;

    text-decoration: none;

}

/* Tirar o sublinhado do Pop up dois*/

.pop_up_artigo_dois{

    width: 620px;

    text-decoration: none;
}

.espacamento_dos_artigos{

    width: 100px;
}

/* Container Artigos Recentes titulo */

.container_artigos_recentes h2{

    margin-bottom: 0%;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 35px;

    color: var(--cor_cinco);
}

/* Container Artigos Recentes Under Line */

.container_artigos_recentes_underline{

    width: 50px;
    height: 5px;

    border: 1px solid var(--cor_dois);
    border-radius: 10px;

    background-color: var(--cor_dois);
}

.container_artigos_recentes h2:hover + .container_artigos_recentes_underline{

    transition: 0.4s;

    width: 250px;
}

.container_artigos_recentes h2:not(:hover) + .container_artigos_recentes_underline{

    transition: 0.4s;

    width: 50px;
}

.container_artigos_alinhamento{

    display: flex;
}

/* Container Estamos aqui para ajudar */

.container_estamos_aqui_para_ajudar{

    height: 580px;

    background: linear-gradient(to bottom, rgba(135, 174, 206, 0) 0%, rgba(135, 174, 206, 0.4) 50%, rgba(135, 174, 206, 0) 100%);
}

/* Alinhamento do Título */

.container_estamos_aqui_para_ajudar_titulo{

    display: flex;
    flex-direction: column;
    align-items: start;

    padding-left: 10%;
}

/* Título */

.container_estamos_aqui_para_ajudar_titulo h2{

    margin-top: 3%;
    margin-bottom: 0%;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 35px;

    color: var(--cor_dez);
}

/* Underline do Título */

.container_estamos_aqui_para_ajudar_titulo_underline{

    height: 6px;
    width: 50px;

    border-radius: 10px;

    background-color: var(--cor_dois);
}

/* Efeito UnderLine */

.container_estamos_aqui_para_ajudar_titulo h2:hover + .container_estamos_aqui_para_ajudar_titulo_underline{

    transition: 0.4s;

    width: 130px;
}

.container_estamos_aqui_para_ajudar_titulo h2:not(:hover) + .container_estamos_aqui_para_ajudar_titulo_underline{

    transition: 0.4s;

    width: 50px;
}

/* Alinhamento Conteúdo */

.container_estamos_aqui_para_ajudar_alinhamento{

    display: flex;

    margin-top: 4%;
    margin-left: 10%;
}

/* Tamnho do Container da Imagem */

.container_estamos_aqui_para_ajudar_imagem{

    height: 500px;
    width: 450px;

}

/* Imagem do Container */

.container_estamos_aqui_para_ajudar_imagem img{
    
    height: 300px;
    width: 400px;
}

.container_estamos_aqui_para_ajudar_imagem img:hover{

    transition: 0.4s;

    height: 350px;
    width: 450px;
}

.container_estamos_aqui_para_ajudar_imagem img:not(:hover){

    transition: 0.4s;

    height: 300px;
    width: 400px;
}

.container_estamos_aqui_para_ajudar_texto{

    display: flex;
    flex-direction: column;

    margin-top: 3%;
    margin-left: 4%;
}

.container_estamos_aqui_para_ajudar_texto ul{

    font-family: var(--tipografia_secundaria);
    font-weight: 400;
    font-size: 25px;

    color: var(--cor_cinco);
}

.container_estamos_aqui_para_ajudar_texto p{

    font-family: var(--tipografia_secundaria);
    font-weight: bold;
    font-size: 20px;

    color: var(--cor_um);
}

/* Container FAQ */

.container_faq{

    height: 620px;

    background-color: var(--cor_tres);
}

/* Tem dúvidas? */

.container_faq h2{

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 35px;

    margin-bottom: 0px;

    color: var(--cor_cinco);
}

.container_faq h2:hover + .faixa_verde_titulo_faq{

    transition: 0.4s;
    width: 200px;
}

.container_faq h2:not(:hover) + .faixa_verde_titulo_faq{

    transition: 0.4s;
    width: 40px;
}

.faixa_verde_titulo_faq{

    width: 40px;
    height: 6px;

    border-radius: 5px;

    background-color: var(--cor_dois);
}

/* Coluna de divs */

.container_faq_coluna_de_divs{

    padding-top: 60px;
    padding-left: 10%;
}

/* Alinhamento do titulo FAQ */

.faq_titulo_alinhamento{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_faq_coluna_de_divs h3{

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 20px;

    color: var(--cor_cinco);
}

.faq_aberto{

    width: 25px;
    height: 25px;
}

.faq_fechado{

    width: 25px;
    height: 25px;
}

.alinhamento_de_colunas_faq{

    display: flex;
    justify-content: space-between;
}

/* Botão FAQ A */

.faq_a_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq A */

.faq_a{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: -6px -6px 10px rgba(255,255,255,0.45), 6px 6px 10px rgba(94,104,121,0.3);

    transition: 0.5s ease;
    overflow: hidden;

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq A */

.faq_a_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ A*/

.faq_a_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* Botão FAQ B */

.faq_b_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq B */

.faq_b{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    transition: 0.5s ease;
    overflow: hidden;

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq B */

.faq_b_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ B*/

.faq_b_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* FAQ C Botão */

.faq_c_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq C */

.faq_c{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    transition: 0.5s ease;
    overflow: hidden;

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq C */

.faq_c_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ C*/

.faq_c_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* FAQ D Botão */

.faq_d_botao{

    height: fit-content;

    cursor: pointer;

    border: 0px;


    background-color: transparent;
}

/* Faq D */

.faq_d{


    width: 450px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    box-shadow: 6px 6px 10px rgba(94,104,121,0.3);

    transition: 0.5s ease;
    overflow: hidden;

    background-color: var(--cor_seis);
}

/* Alinhamento de Titulo Faq D */

.faq_d_alinhamento_de_titulo {

    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: var(--tipografia_secundaria);
}

/* Pergunta FAQ D*/

.faq_d_alinhamento_de_titulo h4{

    color: var(--cor_sete);
}

/* Container FAQ CTA */

.container_faq_cta{

    display: flex;
    flex-direction: column;
    text-align: center;

    margin-right: 190px;

}

/* Container CTA FAQ IMG*/

.container_faq_cta_imagem{

    width: 400px;
    height: 400px;

}

/* Container CTA FAQ IMG */

.container_faq_cta_imagem img{

    width: 350px;
    height: 350px;

}

.container_faq_cta_imagem img:hover{

    transition: 0.5s;

    width: 400px;
    height: 400px;
}

.container_faq_cta_imagem img:not(:hover){

    transition: 0.5s;

    width: 350px;
    height: 350px;
}

/* Container CTA FAQ p */

.container_faq_cta p{

    margin-top: -8%;

    font-family: var(--tipografia_secundaria);
    font-weight: bold;
    font-size: 20px;

    color: var(--cor_cinco);
}

/* Container FAQ Botão */

.container_faq_cta button{

    width: 200px;
    height: 45px;

    margin-top: 0%;
    margin-left: 23%;

    cursor: pointer;

    border: 1px solid var(--cor_um);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 15px;

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

.container_faq_cta button:hover{

    transition: 0.3s;

    border: 1px solid var(--cor_sete);

    background-color: var(--cor_sete);
}

.container_faq_cta button:not(:hover){

    transition: 0.3s;

    border: 1px solid var(--cor_um);

    background-color: var(--cor_um);
}