:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;

    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

body{

    margin: 0px;
}

.dv_login{

    display: flex;

}

.container_informacoes_login{
    
    width: 60%;

    padding-top: 5%;

    background-color: var(--cor_tres);
}

/* Alinhamento do Titulo */

.titulo_login{

    display: flex;
    justify-content: space-around;

    margin-top: 30px;
}

.titulo_login h2{

    font-family: var(--tipografia_primaria);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    margin-right: 330px;
    margin-bottom: 2px;
    
    color: var(--cor_cinco);
}

/* Logo SA */

.titulo_login img{

    width: 60px;
    height: 60px;
}

/* Faixa verde LOGIN*/

.faixa_verde_login{

    width: 50px;
    height: 8px;

    margin-left: 113px;

    background: #AFD06E;
    border-radius: 50px;
}

/* Imagem de Login */

.container_img_login{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100vh;

    background-color: var(--cor_quatro);
}

.container_img_login img{

    width: 750px;
    height: 450px;
}

.container_img_login img:hover{

    transition: 0.5s;

    width: 800px;
    height: 500px;
}

.posicao_dos_inputs_login{

    margin-left: 12%;
}

/* Posição da div nome */

.input_nome_login{

    display: flex;
    flex-direction: column;
}

/* Posição da div email */

.input_email_login{

    display: flex;
    flex-direction: column;
}

/* Posição da div senha */

.input_senha_login{

    display: flex;
    flex-direction: column;
}


/* Input Nome */

.input_nome_login input{
    
    box-sizing: border-box;
    
    width: 60%;
    height: 40px;
    padding-left: 2%;
    
    font-size: 16px;
    font-family: var(--tipografia_secundaria);
    
    background: var(--cor_tres);
    border: 1px solid var(--cor_cinco);
    border-radius: 5px;
    
    color: var(--cor_cinco);
}

/* Label Nome */

.input_nome_login label{
    
    font-family: var(--tipografia_primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    
    margin-bottom: 0%;
    margin-top: 5%;
    
    color: var(--cor_um);
}

/* Input Email */

.input_email_login input{
    
    box-sizing: border-box;
    
    width: 60%;
    height: 40px;
    padding-left: 2%;
    
    font-size: 16px;
    font-family: var(--tipografia_secundaria);
    
    background: var(--cor_tres);
    border: 1px solid var(--cor_cinco);
    border-radius: 5px;
    
    color: var(--cor_cinco);
}

/* Label Email */

.input_email_login label{
    
    font-family: var(--tipografia_primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    
    margin-bottom: 0%;
    margin-top: 2%;
    
    color: var(--cor_um);
}

/* Input Senha */

.input_senha_login input{
    
    box-sizing: border-box;
    
    width: 60%;
    height: 40px;
    padding-left: 2%;
    
    font-size: 16px;
    font-family: var(--tipografia_secundaria);
    
    background: var(--cor_tres);
    border: 1px solid var(--cor_cinco);
    border-radius: 5px;
    
    color: var(--cor_cinco);
}

/* Label Senha */

.input_senha_login label{
    
    font-family: var(--tipografia_primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    
    margin-bottom: 0%;
    margin-top: 2%;
    
    color: var(--cor_um);
}

input:focus{

    border: 1.5px solid var(--cor_quatro);
    outline: none;
}

/* Botão */

.botao_login {

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 16px;

    height: 40px;
    width: 200px;
    margin-left: 260px;
    margin-top: 3%;

    border: 1px solid var(--cor_cinco);
    border-radius: 10px;

    cursor: pointer;

    background-color: var(--cor_cinco);
    color: var(--cor_tres);
}

.botao_login:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_quatro);

    background-color: var(--cor_quatro);
    color: var(--cor_cinco);
}

.botao_login:not(:hover){

    transition: 0.3s;

    background-color: var(--cor_cinco);
    color: var(--cor_tres);
}

/* Não possui conta texto */

.nao_possui_conta{

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
    margin-top: 5%;
    margin-left: 12.5%;
    
    color: var(--cor_um);
}

.nao_possui_conta_link{

    border: 0px;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;

    color: var(--cor_cinco);
    background-color: var(--cor_tres);
}

.nao_possui_conta_link:hover{

    text-decoration: underline;

}