:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
    --cor-7: #D9E3EB;
}

.Select-Horario{
    height: 30px;
}

.Container-Consulta-Horario{
    display: flex;
    width: 740px;
    justify-content: space-between;
}

.Container-Consulta-Horario h2{
    font-family: 'Nunito', sans-serif;
    color: var(--cor-2);
}

.Selecionar-Consulta{
    /* border:1px solid black; */
    width: 200px;
}

.Selecionar-Horario{
    /* border:1px solid black; */
    width: 300px;
}
.Selecionar-Ob{
    margin-top: 7%;
    width: fit-content;
}

.Selecionar-Ob textarea{
    border: 1.5px solid var(--cor-6);
    width: 740px;
    font-size: 20px;
}

.Selecionar-Ob h2{
    font-family: 'Nunito', sans-serif;
    color: var(--cor-2);
}
.Input-Ob{
    height: 200px;
    width: 800px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1.5px solid var(--cor-6);
    background-color: #f5f5f5;
}

.Input-Ob:focus{
    border: 2px solid var(--cor-5);
}

.Select-Consulta{
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #757575;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1.5px solid var(--cor-6);
}

.Select-Consulta:focus{
    border: 2px solid var(--cor-5);
}

.Select-Horario{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #757575;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1.5px solid var(--cor-6);
}

.Select-Horario:focus{
    border:2px solid var(--cor-5) ;
}

.Button{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    height: 50px;
    width: 280px;
    border: none;
    border-radius: 15px;
    background-color: var(--cor-2);
    color: #f5f5f5;
}

.Botões{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 70px;
    margin-top: 6%;
}

.Button:hover{
    transition: 0.3s;

    color: var(--cor_tres);
    background-color: var(--cor_sete);
}

.Button :not(:hover){
    transition: 0.3s;

    border: 1px solid var(--cor_um);

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

/* Alinhamentos */
.alinhamento-displayFlex{
    display: flex;
}

.alinhamento-hamburger{
    margin-top: 40px;
    margin-right: 40px;
}

.Tres-partes{
    margin-left: -100px;
}