:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
    --cor-7: #D9E3EB;

    --cor-hover: #D9E3EB;
}

.alinhamento_nome-imagem-medicoscadastrados {

    display: flex;

}

.nome_medico_cadastrado {
    /* border: 1px solid red; */
    margin-top: 0vw;
    margin-left: 3vw;
    font-size: xx-large;
    font-family: 'Nunito', sans-serif;
    color: var(--cor-6);
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 27.6vw;

}

.foto-do-perfil-medico {
    width: 5vw;
    height: fit-content;
    /* border: 1px solid red; */
}

.ficha_do_medico {
    margin-top: 7vw;
    margin-bottom: -4vw;
    background-color: var(--cor-1);
    width: fit-content;
    height: fit-content;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 8vw;
    margin-right: -2.5vw;
    border-radius: 10px;
    box-shadow: -6px -6px 10px rgba(230, 231, 233, 0.45), 6px 6px 10px rgba(21, 31, 48, 0.3);
}

.alinhamento-nome-email-medicoscadastrados {
    flex-direction: column;
    /* border: 1px solid blue; */
}

.email_medico_cadastrado {
    /* border: 1px solid red; */
    margin-top: -2.5vw;
    margin-left: 3vw;
    font-size: larger;
    color: var(--cor-2);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.especialidade_medico_cadastrado {
    margin-top: 0.9vw;
    margin-left: -0.5vw;
    font-family: 'Nunito', sans-serif;
    color: var(--cor-2);
    font-weight: 700;
    font-size: x-large;
}

.alinhamento-numero-crm-medicocadastrado {
    display: flex;
}

.numero_medico_cadastrado {

    color: var(--cor-6);
    font-size: large;
    font-weight: 600;
    margin-top: -1vw;
    margin-left: -0.7vw;

}

.crm_medico_cadastrado {
    color: var(--cor-6);
    font-size: large;
    font-weight: 600;
    margin-top: -3vw;
    margin-left: 14vw;
}

.ficha_do_medico:hover {
    background-color: var(--cor-hover);
    transition: 0.2s;
}

.faixaVerdeMedicosCadastrados {
    width: 9vw;
    height: 0.6vw;
    margin-left: 8vw;
    margin-top: -2vw;
    background-color: var(--cor-3);
    border-radius: 5px;
}

.faixaVerdeMedicosCadastrados:hover{
    width: 13vw;
    transition: 0.4s;
}

.faixaVerdeMedicosCadastrados:not(:hover){
    width: 9vw;
    transition: 0.4s;
}

.titulo-medicoscadastrados {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 8%;
    margin-bottom: 2.1vw;
}

.alihamento-cards-medicosCadastrados {

    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Exatamente 2 fichas por linha */
    gap: 16px;
    /* Espaço entre as fichas */

}

.cpf_medico_cadastrado {
    color: var(--cor-6);
    font-size: medium;
    font-weight: 600;
    margin-top: -1vw;
    margin-left: 14.1vw;
}

.alinhamento-titulo-medicoCadastrado{
    margin-top: -5vw;
}