:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
    --cor-7: #D9E3EB;
}


.imagem-meusagendamentos{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
    position: absolute;
    margin-top: 8%;
}

.alinhar-meusagendamentos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ventozs{
    background-color: var(--cor-5);
  
    width: 700px;
    height: 767px;
margin-top: -100px;
}