h1{
    font-family: "Nunito", sans-serif;
    color: #1D2A62;
    font-size: 45px;
}
.Texto-Nos{
    margin-left: 10%;
    margin-top: 10%;
    /* border:1px solid black; */
    width: 65%;
}
.Nossa-Equipe{
    margin-left: 30%;
    margin-top: 50px;
    
}
.Linha{
    background-color: #AFD06E;
    border-radius: 10px;
    height: 8px;
    width: 15%;
    margin-top: -25px;
   
    
}
.Linha-Dois{
    background-color: #87AECE;
    border-radius: 10px;
    height: 8px;
    width: 15%;
    margin-top: -30px;
   
    
}
p{
    color: #2F2E43;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
}
.Sobre-Nos{
    margin-top: 15%;
}
.Missao{
    margin-top: 15%;
}
.Compromissos{
    margin-top: 15%;
}