:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;

    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

body{

    margin: 0px;

    background-color: var(--cor_tres); 
}

.carrossel_container{

    display: flex;

    justify-content: space-between;

    height: 85vh;

}

/* Container Conteudo do Carrossel */

.carrossel_container_conteudo{

    display: flex;
    align-items: center;    

    width: 900px;
    height: 500px;

    margin-left: 8%;
    margin-top: 4%;
}

/* Container Carrossel Alinhamento de Conteudo */

.carrossel_container_alinhamento_de_conteudo{

    display: flex;
    flex-direction: column;
}

/* Container Conteudo H2 */

.carrossel_container_conteudo h2{

    width: 600px;

    margin-bottom: 0%;

    font-family: var(--tipografia_primaria);
    font-size: 40px;
    font-weight: bold;

    color: var(--cor_cinco);
}

/* Container Carrossel Faixa Verde */

.carrossel_container_conteudo_faixa_verde{

    width: 55px;
    height: 5px;

    border: 1px solid var(--cor_dois);
    border-radius: 25px;

    background-color: var(--cor_dois);
}

/* Container Carrossel parágrafo */

.carrossel_container_conteudo p{

    width: 500px;

    margin-top: 6%;
    margin-bottom: 0%;

    font-family: var(--tipografia_secundaria);
    font-size: 20px;
    font-weight: lighter;

    color: var(--cor_dez);
}

/* Container Carrossel Alinhamento da Div de Botões */

.carrossel_container_alinhamento_botoes{

    display: flex;

    margin-top: 9%;
}

/* Container Carrossel Botão de Cadastrar */

.carrossel_conteudo_cadastrar{

    width: 200px;
    height: 45px;

    margin-right: 1%;

    cursor: pointer;

    border: 1px solid var(--cor_um);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_um);
}

.carrossel_conteudo_cadastrar:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_sete);

    background-color: var(--cor_sete);
}

/* Container Carrossel Botão de Entrar */

.carrossel_conteudo_entrar{

    width: 180px;
    height: 45px;

    cursor: pointer;

    border: 1px solid var(--cor_dois);
    border-radius: 10px;

    font-family: var(--tipografia_primaria);
    font-size: 13px;
    font-weight: bold;

    color: var(--cor_tres);
    background-color: var(--cor_dois);
}

.carrossel_conteudo_entrar:hover{

    transition: 0.2s;

    border: 1px solid var(--cor_nove);

    background-color: var(--cor_nove);
}

/* Container Carrossel Imagem */

.carrossel_container_imagem{

    display: flex;
    align-items: center;

    width: 400px;
    height: 500px;

    margin-right: 15%;
    margin-top: 4%;
}

.carrossel_container_imagem img{

    width: 500px;
    height: 500px;

}

.carrossel_container_imagem img:hover{

    transition: 0.5s;

    width: 540px;
    height: 540px;
}

/* Container do CTA comunidade */

.container_cta_comunidade{

    width: 100vw;
    height: 500px;

    background-color: var(--cor_oito);
}

/* Container CTA alinhamento de conteudo */

.alinhamento_de_conteudo_cta{

    display: flex;

}

/* Comunidade CTA imagem */

.conteudo_cta_comunidade_imagem{

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 600px;
    height: 460px;

}

.conteudo_cta_comunidade_imagem img{

    width: 400px;
    height: 400px;
}

.conteudo_cta_comunidade_imagem img:hover{

    transition: 0.5s;

    width: 450px;
    height: 450px;
}


/* Alinhamento de Conteudo do CTA comunidade */

.conteudo_cta_comunidade{

    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 500px;

    margin-top: 5%;
    margin-left: 10%;
}

/* Conteudo CTA comunidade tag H3 */

.conteudo_cta_comunidade h3{

    margin-bottom: 0%;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 25px;

    color: var(--cor_cinco);
}

/* Conteudo de CTA comunidade faixa azul */

.conteudo_cta_comunidade_faixa_verde{

    width: 50px;
    height: 5px;

    border-radius: 25px;
    border: 1px solid var(--cor_quatro);

    background-color: var(--cor_quatro);
}

/* Conteudo de CTA comunidade parágrafo */

.conteudo_cta_comunidade p{

    width: 400px;

    font-family: var(--tipografia_primaria);
    font-weight: lighter;
    font-size: 18px;

    color: var(--cor_dez);
}