body {
    background-color: #F5F5F5;
}

.Convenio-Container {
    margin-left: 10%;
    margin-top: 5%;
    align-items: center;
    display: flex;
}

.Titulo-Convenio-Container {
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
}

.TituloConvenio {
    font-size: 35px;
}

.Paragrafo-Um {
    width: 65%;
    margin-right: 200px;
}

.ImagemQuatro {
    flex-shrink: 0; /* Impede que a imagem encolha */
    position: relative;
}

.ImagemDois{
    position: absolute; /* Para sobrepor a imagem em cima da outra */
    right: 15px;
    top: 370px;
}
.Titulo-Convenio-Disponivel-Container {
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
}
.Container-Convenio-Completo{
    /* border: 1px solid black; */
    position: relative;
    margin-top: 0px;
}

.Container-Convenio-Completo img{ 
   
    margin-top: -150px;
}

.imagemTres{
   width: 100%;
   position: absolute;
}
.Convenio-Disponivel-Container{
    margin-left: 55%;
    width: 35%;
    
    position: relative;
    
}
.Titulo-Azul{
    color: #1D2A62;
    position: relative;
}

.imagemUm{
    /* border: 1px solid black; */
    margin-left: 200px;
    position: relative;
    top: -290px;
}
.Container-Convenio-Completo-Segundo{
    /* border: 1px solid black; */
}
.imagemCinco{
    
    top: -500px;
    margin-left: 950px;
    position: relative;
}
.Convenio-Disponivel-Container-Segundo{
    margin-left: 10%;
    width: 35%;
    position: relative;
    
}
.Container-Convenio-Completo-Terceiro{
    
     margin-top: -500px;
}
.Convenio-Disponivel-Container-Terceiro{
    margin-left: 55%;
    width: 35%;
    margin-top: 350px;
    position: relative;
    
    
}
.imagemSeis{
    margin-left: 200px;
    position: relative;
    top: -500px;
}
.imagemSete{
    width: 100%;
    position: absolute;
    margin-top: -200px;

}