:root{
    
    --cor_dois: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #9fbacf;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
    --cor_sete: #335513;
    --cor_oito: #87AECE;
    --cor_nove: #819b4f;
    --cor_dez: #303c70;
    --cor_onze: #87aece3b;

    --tipografia_primaria: 'Nunito', sans-serif;
    --tipografia_secundaria: 'Poppins', sans-serif;
}

.tamanho_do_container_artigo_dois_home{

    height: 330px;
    width: 620px;
}

.container_artigo_dois_home{

    height: 330px;
    width: 620px;

    border-radius: 15px;

    box-shadow: -6px -6px 10px rgba(255,255,255,0.45), 6px 6px 10px rgba(94,104,121,0.3);

    background-color: var(--cor_seis);
}

.container_artigo_dois_home:hover{

    transition: 0.3s;

    padding: 10px;

    height: 340px;
    width: 640px;

    background-color: var(--cor_onze);
}

.container_artigo_dois_home:not(:hover){

    transition: 0.3s;

    height: 330px;
    width: 620px;
}

.container_artigo_dois_home_alinhamento_conteudo{

    display: flex;
    justify-content: space-between;
}

.titulo_artigo_dois{

    margin-top: 30px;
    margin-left: 30px;
}

.titulo_artigo_dois h3{

    width: 350px;

    margin-bottom: 10px;

    font-family: var(--tipografia_primaria);
    font-weight: bold;
    font-size: 30px;

    color: var(--cor_cinco);
}

.titulo_artigo_dois p{

    font-family: var(--tipografia_primaria);
    font-weight: 400;

    color: var(--cor_um);
}

.imagem_artigo_dois{

    margin-top: 20px;
    margin-right: 60px;
}

.imagem_artigo_dois img{

    width: 200px;
    height: 200px;
}

.paragrafo_do_artigo_dois p{

    width: 550px;

    margin-top: 20px;
    margin-left: 30px;

    font-family: var(--tipografia_primaria);
    font-weight: 400;
    font-size: 17px;

    color: var(--cor_sete);
}
