:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.calendario {

    background-color: var(--cor-);
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    margin-left: 55px;
    border-radius: 2%;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3);
    padding-bottom: 48px;
    margin-right: 200px;
    height: 500px;
    width: 500px;

}

.fc-daygrid-day-number {
    color: var(--cor-6) !important;
}

.fc-day-header {
    color: var(--cor-2) !important;
    /* Alterando a cor dos dias da semana */
    font-weight: bold;
    /* Opcional */
}

:root {
    --fc-event-bg-color: var(--cor-5);
    --fc-event-border-color: var(--cor-5);
    --fc-event-text-color: #fff;
    --fc-bg-event-opacity: 0.3;
    --fc-button-bg-color: #2c3e50;
    font-weight: 200px;
}

a {
    color: var(--cor-6);
}