:root {
    --azulzinho_escuro: #1D2A62;
    --verdinho_meio_termo: #437118;
}

.poUp-container {
    top: 12vw;
    left: 35vw;
    position: absolute;
    background-color: #fcfcfc;
    height: 30vw;
    width: 34vw;
    position: fixed;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3);
    border-radius: 2vw;
}

.popUp-deletar img{
    width: 320px;
    height: 320px;
    margin: auto;
    align-items: center;
}

.popUp-deletar h3{
    color: #1D2A62;
    font-size: 1.6vw;
    font-family: 'nunito', sans-serif ;
    margin: 1.2vw;
}

.alinhamentoButtons button {
   justify-content: center;
   margin: auto;
   margin-right: 20px;
}

.naoDeletar {
    height: 42px;
    width: 296px;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    background-color: #1D2A62;
    color: #F1F1F1;
    border: none;
}

.naoDeletar:hover{
    background-color: #495691;
    transition: 0.4s;
}

.naoDeletar:not(:hover){
    background-color: var(--azulzinho_escuro);
    transition: 0.4s;
}

.confirmarDeletar{
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    height: 42px;
    width: 180px;
    border: none;
    border-radius: 15px;
    background-color: #437118;
    color: #F5F5F5;
}

.confirmarDeletar:hover {
    transition: 0.4s;
    background-color: #345516;
    color: #F5F5F5;
}

.confirmarDeletar:not(:hover){
    transition: 0.4s;
    background-color: var(--verdinho_meio_termo);
}