:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118;
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
    --cor-7: #D9E3EB;
}

.consulta-solicitada-ficha {
    background-color: #eeeeee;
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.45), 6px 6px 10px rgba(94, 104, 121, 0.3); */
    padding: 3vw;
    width: 70vw;
    /* depois mudar para fit-content, quando finalizar */
    border-radius: 2vw;
    border: 2px solid var(--cor-6);
    margin-left: 12%;
    margin-bottom: 8vw;
}

body {

    background-color: #F5F5F5;
}

.tipo-consulta-solicitacao-ficha {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: 830px;
    color: #1D2A62;
    font-size: 1.8vw;
    justify-content: space-between;

}

.nome-pessoa-solicitacao-ficha {
    margin-bottom: 0.5vw;
    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
}

/* .nome-tipo-solicitacao{
    width: 980px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: -10px;
} */

.data-horario-solicitacao-ficha {
    font-family: 'Nunito', sans-serif;
    margin-top: -15px;
}

.horario-consulta-solicitacao-ficha {
    width: fit-content;
    margin-top: -25px;
    margin-left: 7.3vw;
    font-size: 2vw;
}

.alinhamento-solicitacao-nome-horario-tipo-data-ficha {
    width: 600px;
    display: flex;
    justify-content: space-between;
    color: var(--cor-6);
    font-family: 'Nunito', sans-serif;
    margin-top: -10px;
}

.botoes-solicitacao-ficha {
    margin-top: 7%;
    display: flex;
    justify-content: flex-end;
}

.botao-ok-ficha {
    font-size: 1.4vw;
    background-color: var(--cor-2);
    color: var(--cor-4);
    border-radius: 10px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
    width: 100px;
    height: 50px;
    border: none;
}

.botao-ok-ficha:hover {
    background-color: #335513;
    transition: 0.4s;
}

.botao-ok-ficha:not(:hover){
    background-color: var(--cor-2);
    transition: 0.4s;
}

/* .botao-cancela-ficha {
    font-size: larger;
    color: var(--cor-1);
    border-radius: 10px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--cor-2);
    font-weight: 700;
    border: 2px solid var(--cor-2);
    margin-right: 35px;
    width: 200px;
}

.botao-cancela-ficha:hover {
    background-color: #375E14;
    transition: 0.2s;
} */

/* (em cima) ver dps, tirar isso aqui e ajeitar a distancia dos botoes) */

.tipo-consulta-solicitacao-ficha {
    margin-top: -10px;
    color: var(--cor-2);
}

.observacao-solicitacao-titulo-ficha {
    font-family: 'Nunito', sans-serif;
    color: var(--cor-6);
    font-size: x-larger;
    margin-top: 1vw;
}

.observacao-solicitacao-cliente-ficha {
    font-family: 'Nunito', sans-serif;
    color: var(--cor-2);
    font-weight: 600;
    font-size: larger;
}

/* FichaCliente.css */
.fichacliente {
    position: fixed;
    top: 60%;
    left: 41%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
}

/* Estilo da sobreposição (opcional) */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}