:root {

    --cor_um: #437118;
    --cor_dois: #AFD06E;
    --cor_tres: #F5F5F5;
    --cor_quatro: #87AECE;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
}

.footer-container{
    background-color: var(--cor_cinco);
    margin-top: 8%;
    height: fit-content;
    width: 100%;
}

/* ESTILOS */
.estilo-titulos{
    font-family: 'Nunito', sans-serif;
    color: var(--cor_tres);
    font-size: 220%;
}

.line-footer{
    width: 55px;
    height: 8px;
    background-color: var(--cor_dois);
    border-radius: 5px;
    margin-top: -15px;
}

.line-footer:hover{
    width: 75px;
    transition: 0.5s;
}

.line-footer :not(:hover){
    width: 55px;
    transition: 0.5s;
}

.estilo-texto-branco{
    color: var(--cor_tres);
    font-family: 'Poppins', sans-serif;
    font-size: 155%;
}

.container-dois-alinhamento li{
    color: var(--cor_tres);
    font-family: 'Poppins', sans-serif;
    font-size: 155%;
}

.container-dois-alinhamento li:hover{
    color: var(--cor_quatro);
    cursor: pointer;
    transition: 0.5s;
}

.estilo-texto-azul-link{
    color: var(--cor_quatro);
    font-family: 'Poppins', sans-serif;
    font-size: 70%;
    text-decoration: none;
}

.estilo-texto-azul-link:hover{
    color: var(--cor_quatro);
    cursor: pointer;
    transition: 0.5s;
}

.estilo-texto-azul{
    color: var(--cor_quatro);
    font-family: 'Poppins', sans-serif;
    font-size: 140%;
}

.estilo-texto-link{
    text-decoration: none;
    color: var(--cor_tres);
    font-family: 'Poppins', sans-serif;
}

.estilo-texto-link:hover{
    color: var(--cor_quatro);
    transition: 0.5s;
}

/* ESTILOS */

.alinhamento-containers{
    display: flex;
    width: 160%;
    height: fit-content;
    margin-top: -28%;
    margin-left: 11%;
    width: 130%;
}

/* Container um (Contatos) ALINHAMENTO*/
.container-um-alinhamento{
    width: fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Logo{
    margin-bottom: -25px;
    margin-left: -40px;
    width: 320px;
    margin-top: 70px;
    height: fit-content;
}

.alinhamentoLogo-mascote{
    display: flex;
    justify-content: space-between;
    width: 90.5%;
    margin-left: 9%;
    margin-bottom: -20px;
}

.container-um-alinhamento a{
    margin: 8px;
}

.whatsapp_icon img{

    width: 40px;
    height: 40px;
}

.gmail_icon img{

    width: 40px;
    height: 40px;
}

.whatsapp_icon{

    width: 40px;
    height: 40px;
}

.instagram_icon img{

    width: 40px;
    height: 40px;
}

.alinhamento_titulo_whatsapp h1{

    width: 160px;

    margin-bottom: 8px;
}

.line-footer-whatsapp{

    width: 60px;
    height: 8px;

    border-radius: 10px;

    background-color: var(--cor_dois);
}

.container-um-alinhamento-contatos{

    width: 220px;
    height: 40px;

    margin-top: 40px;
}

.container-um-alinhamento-contatos h1{

    margin-bottom: 5px;
}

.line-footer-contatos{

    transition: 0.3s;

    border-radius: 15px;

    width: 60px;
    height: 8px;

    background-color: var(--cor_dois);
}

.container-um-alinhamento-contatos h1:hover + .line-footer-contatos{

    transition: 0.3s;

    width: 100px;
}

.alinhamento_titulo_whatsapp h1:hover + .line-footer-whatsapp{

    transition: 0.3s;

    width: 120px;
}

.alinhamento_titulo_whatsapp h1:not(:hover) + .line-footer-whatsapp{

    transition: 0.3s;

    width: 60px;
}

/* Container um (Contatos) ALINHAMENTO*/

/* Container Dois (Menú) ALINHAMENTO*/
.container-dois-alinhamento{

    width: fit-content;
    height: fit-content;

    margin-left: 13%;
    margin-top: 3%;
}

.line-footer-coluna-dois{

    width: 60px;
    height: 8px;

    border-radius: 15px;

    background-color: var(--cor_dois);
}

.alinhamento_titulo_coluna_dois h1{

    margin-bottom: 5px;
}

.alinhamento_titulo_coluna_dois h1:hover + .line-footer-coluna-dois{

    transition: 0.3s;

    width: 120px;
}

.alinhamento_titulo_coluna_dois h1:not(:hover) + .line-footer-coluna-dois{

    transition: 0.3s;

    width: 60px;
}

.alinhamento_titulo_coluna_tres h1{

    margin-bottom: 5px;
}

.alinhamento_titulo_coluna_tres h1:hover + .line-footer-coluna-tres{

    transition: 0.3s;

    width: 120px;
}

.alinhamento_titulo_coluna_tres h1:not(:hover) + .line-footer-coluna-tres{

    transition: 0.3s;

    width: 60px;
}

.line-footer-coluna-tres{

    width: 60px;
    height: 8px;

    border-radius: 15px;

    background-color: var(--cor_dois);
}

.container-dois-alinhamento p{
    margin-bottom: -45px;
    margin-top: 8%;
}

.container-dois-alinhamento ul{
    margin-top: 25px;
    margin-bottom: 29px;
}
/* Container Dois (Menú) ALINHAMENTO*/

/* Container Tres (Endereço) ALINHAMENTO*/
.container-tres-alinhamento{
    width: fit-content;
    height: fit-content;
    margin-left: 6%;

    margin-top: 3%;
}

.estilo-texto-azul{
    margin-top: 13%;
}
/* Container Tres (Endereço) ALINHAMENTO*/

/* Mascote alinhamento */
.mascote{
    width: fit-content;
    height: fit-content;
    margin-top: -130px;
    position: relative;
    width: 500px;
}
/* Mascote alinhamento */

.gmail-img{
    width: 33px;
}