:root{
    
    --cor_um: #437118 ;
    --cor_dois: #AFD06E ;
    --cor_tres: #F5F5F5;
    --cor_quatro: #87AECE;
    --cor_cinco: #1D2A62;
    --cor_seis: #F1F1F1;
}

.alinhamento_navbar{
    display: flex;
    justify-content: center;
    
    margin-top: 3vw;
}

.nav_bar{

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

    width: 80vw;
    height: 10vh;

    border: 0.1vw solid var(--cor_seis);
    border-radius: 2vw;

    font-family: "Nunito", sans-serif;

    background-color: var(--cor_seis);

    box-shadow: -1vw -1vw 2vw rgba(255,255,255,0.45), 0.4vw 0.4vw 0.9vw rgba(94,104,121,0.3);
}

.nav_bar_link{

    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-size: 1vw;

    border: 0px;

    cursor: pointer;

    background-color: transparent;

    color: var(--cor_um);
}

.nav_bar_link:hover{

    transition: 0.3s;

    font-weight: bold;

    color: var(--cor_cinco);
}

.nav_bar_link:not(:hover){

    transition: 0.3s;

    font-weight: bold;

    color: var(--cor_um);
}

.dv_imagem_logo{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 2vw;
    height: 6vh;
}

.nav_bar_link_logo img{

    width: 3vw;
    height: 6vh;
}

.nav_bar_link_perfil img{

    width: 3vw;
    height: 6vh;
}

.nav_bar_link_logo img:hover{

    transition: 0.3s;

    width: 4vw;
    height: 7vh;
}

.nav_bar_link_logo img:not(:hover){

    transition: 0.3s;

    width: 3vw;
    height: 6vh;
}

.nav_bar_link_perfil img:hover{

    transition: 0.3s;

    width: 6vw;
    height: 7vh;
}

.nav_bar_link_perfil{

    height: 6vh;
}

.nav_bar_link_perfil img:not(:hover){

    transition: 0.3s;

    width: 6vw;
    height: 6vh;
}