.nav_container img{
 width: 70px;
 height: 70px;
 margin-left: 43%;
 margin-top: 1%;
 position: absolute;
}
   
.nav_container h1{
 position: absolute;
 width: 525px;
 height: 76px;
 right: 74%;
 top: 46px;
 font-family: "poppins", sans-serif;
 color: #1D2A62
}
   
.faixa_verde{
 width: 70px;
 height: 6px;
 position: absolute;
 right: 89.8%;
 bottom: 838px;
 background-color: #AFD06E;
 border-radius: 5px;
}

