:root {
    --cor-1: #F1F1F1;
    --cor-2: #437118; 
    --cor-3: #AFD06E;
    --cor-4: #F5F5F5;
    --cor-5: #87AECE;
    --cor-6: #1D2A62;
}

.titulo{
    border: 1px solid red;

    font-family: 'Nunito', sans-serif;
    color: var(--cor-6);
}

.line{
    background-color: var(--cor-3);
    width: 5%;
}