body{
    background-color: #F5F5F5;
}

.Convenio-Container{
    margin-left: 10%;
    margin-top: 5%;
    /* border:1px solid black;  */
    align-items: center;
    display: flex;
}
.Titulo-Convenio-Container{
    margin-left: 10%;
    margin-top: 10%;
}
.TituloConvenio{
    font-size: 35px;
}
.Paragrafo-Um{
    width: 65%;
    margin-right: 200px;
}
.ImagemVerde-Container {
    flex-shrink: 0; /* Impede que a imagem encolha */
    position: relative;
}
.ImagemUm{
    position: absolute; /* Para sobrepor a imagem em cima da outra */
    right: 15px;
    top: 318px;
}
.NomeDoutor-h1{
    margin-left: 50%;
    margin-top: 10%;
    font-size: 35px;
}
.ConveniosDisponiveis-Container{
    width: 75%;
}
.EspecialidadeDoutor-h1{
    margin-left: 50%;
    margin-top: 5px;
    font-size: 30px;
    color: #437118;
}
.MiniTexto-p{
    margin-left: 50%;
    margin-top: 7%;
}
.MiniTextoDois-p{
    margin-left: 50%;
    margin-top: 2%;
    width: 50%;
}
.ImagemDois{
    margin-top: 10%;
    flex-shrink: 0; /* Impede que a imagem encolha */
    position: relative;
}