.Politica-Privacidade{
    margin-left: 10%;
    margin-top: 10%;
    /* border:1px solid black; */
    width: 65%;
}
.Texto-Um{
margin-top: 15%;
}
.Texto-Dois{
    margin-top: 15%;
}
h2{
    font-size: 36px;
    color: #637D4A;
    font-family: "Nunito", sans-serif;
}
P.termos{
    color: #87AECE;
    font-size: 30px;
}