.info_container input{
 width: 290px;
 height: 40px;

 border-radius: 5px; 
 border: 1px solid;
 background-color: #fdfdfd;
 outline: none;

 margin-top: 1%;
 display: block;
 margin-left: 5%;
}
   
.info_container input:focus{
 border-color:  #87AECE;
}
   
.info_container label{
 font-family: "poppins", sans-serif;
 font-size: 18px;
 color: #437118;

 margin-top: 8%;
 margin-right: 90%;
 display: block;
}
   
.info_container select{
 font-family: "poppins", sans-serif;
 font-weight: bold;
 color: #437118;
 width: 300px;
 height: 40px;
 border-radius: 5px;
 display: flex;
 margin-top: 1%;
}

.info_container option{
 color: #1D2A62;
 background-color: #345516;
 font-family: "poppins", sans-serif;
 font-weight: bold;
 background-color: #fdfdfd;
}
   
.container_edit button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 height: 40px;
 width: 150px;
 margin-top: 2%;
 margin-left: 73%;
 border: 1px solid ;
 border-radius: 15px;  
 background-color: #F5F5F5 ;
 color: #1D2A62;
}
   
.container_edit button:hover{
 transition: 0.2s;  
 background-color: #1D2A62;
 color:  #F5F5F5;
}
   
.container_delete button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 height: 40px;
 width: 150px;
 border: 1px solid ;
 border-radius: 15px;  
 background-color: #437118 ;
 color:  #F5F5F5 ;
}
   
.container_delete button:hover{
 transition: 0.2s;    
 background-color:  #345516;
 color:  #F5F5F5;
}
   
.container_text input{
 position: absolute;
 left: 55.82%;
 top: 35.91%;
 bottom: 45.25%;  
 width: 40%;
 height: 40%;
 background: #F5F5F5;
 border: 1px solid #1D2A62;
 outline: none;
 border-radius: 5px;
}
   
.container_text input:focus{
 border-color:  #87AECE;
}
   
#placeholder_text::placeholder{
 position: absolute;
 top: 9%;
 left: 3%;
 font-size: medium;
}

/* Input  */

/*box-sizing: border-box;

position: absolute;
left: 8.6%;
right: 61.04%;
top: 25.12%;
bottom: 68.89%;

background: #F5F5F5;
border: 1px solid #1D2A62;
border-radius: 5px

/* Nome */

/*position: absolute;
left: 9.13%;
right: 66.49%;
top: 20.71%;
bottom: 75.52%;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #437118;

