
.info_container{
 position: absolute;
 left: 130px;
 margin-top: 5%;  
}

.info_container img{
    width: 195px;
    height: 180px;
    margin-left: 1000px;
    margin-top: 1%;
    position: absolute;
}

.name_user p{
    font-family: "poppins", sans-serif;
    color: #1D2A62;
    font-weight: bold;
    font-size: 25px;

    margin-left: 1210px;
    margin-top: 64%;
    position: absolute;
}

.info_container input{
 box-sizing: border-box;
 width: 290px;
 height: 40px;

 border-radius: 5px; 
 border: 1px solid #1D2A62;
 background-color: #fdfdfd;
 outline: none;
 display: block;
 margin-top: 1%;
}
   
.info_container input:focus{
 border-color:  #87AECE;
}
   
.info_container label{
 font-family: "poppins", sans-serif;
 font-weight: bold;
 font-size: 18px;
 color: #437118;

 margin-top: 19%;
 margin-bottom: 3%;
 margin-right: 98%;
 display: block;
}
   
.info_container select{
 font-family: "poppins", sans-serif;
 font-weight: bold;
 color: #437118 ;
 outline: none;
 width: 300px;
 height: 40px;
 border-radius: 5px;
 border: 1px solid  #1D2A62;
 display: flex;
}

.info_container option{
 color: #1D2A62;
 font-family: "poppins", sans-serif;
 font-weight: bold;
 background-color:  #fdfdfd;
}

   
.container_edit button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 border: 1px solid ;
 border-radius: 15px;  
 background-color:  #3b4fa7;
 color:   #F5F5F5;

 position: absolute;
 width: 170px;
 height: 45px;
 left: 1180px;
 top: 783px;
}
   
.container_edit button:hover{
 transition: 0.2s;  
 background-color: #1D2A62;
 color:  #F5F5F5;
}
   
.container_delete button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 border: 1px solid ;
 border-radius: 15px;  
 background-color: #629136;
 color:  #F5F5F5 ;

 position: absolute;
 width: 170px;
 height: 45px;
 left: 1400px;
 top: 783px;
}
   
.container_delete button:hover{
 transition: 0.2s;    
 background-color:  #437118;
 color:  #F5F5F5;
}
   
.container_text input{
 position: absolute;
 left: 54%;
 top: 39.91%;
 bottom: 45.25%;  
 width: 35%;
 height: 35%;
 background:  #F5F5F5;
 border: 1px solid #1D2A62 ;
 outline: none;
 border-radius: 5px;
}
   
.container_text input:focus{
 border-color:  #87AECE;
}
   
#placeholder_text::placeholder{
 position: absolute;
 top: 9%;
 left: 3%;
 font-size: medium;
}

