.container_input input{
 width: 290px;
 height: 40px;
 margin-top: 1%;
 display: block;
 margin-left: 5%;
 border-radius: 5px; 
 border: 1px solid;
 background-color: #fdfdfd;
 outline: none;
}
   
.container_input input:focus{
 border-color:  #87AECE;
}
   
.container_input label{
 font-family: "poppins", sans-serif;
 display: block;
 margin-top: 2%;
 margin-left: 5%;
 font-size: 18px;
 color: #437118;
}
   
.container_user select{
 font-family: "poppins", sans-serif;
 font-weight: bold;
 color: #437118;
 width: 300px;
 height: 40px;
 border-radius: 5px;
 margin-top: 1%;
 margin-left: 5%;
}
   
.container_user option{
 color: #1D2A62;
 font-family: "poppins", sans-serif;
 font-weight: bold;
 background-color: #fdfdfd;
}
   
.container_edit button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 height: 40px;
 width: 150px;
 margin-top: 2%;
 margin-left: 73%;
 border: 1px solid ;
 border-radius: 15px;  
 background-color: #F5F5F5 ;
 color: #1D2A62;
}
   
.container_edit button:hover{
 transition: 0.2s;  
 background-color: #1D2A62;
 color:  #F5F5F5;
}
   
.container_delete button{
 font-family: 'Nunito', sans-serif;
 font-weight: 800;
 height: 40px;
 width: 150px;
 border: 1px solid ;
 border-radius: 15px;  
 background-color: #437118 ;
 color:  #F5F5F5 ;
}
   
.container_delete button:hover{
 transition: 0.2s;    
 background-color:  #345516;
 color:  #F5F5F5;
}
   
.container_text input{
 position: absolute;
 left: 55.82%;
 top: 35.91%;
 bottom: 45.25%;  
 width: 40%;
 height: 40%;
 background: #F5F5F5;
 border: 1px solid #1D2A62;
 outline: none;
 border-radius: 5px;
}
   
.container_text input:focus{
 border-color:  #87AECE;
}
   
#placeholder_text::placeholder{
 position: absolute;
 top: 9%;
 left: 3%;
 font-size: medium;
}